# Build outputs
apps/client/dist
apps/server/dist
apps/server/public
*.tsbuildinfo

# Dependencies
node_modules

# Logs
logs
*.log
pnpm-debug.log*

# Misc
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.example

# Database
apps/server/src/data/*.db
!apps/server/src/data/.gitkeep
